@page
@model Filmography360.Views.Home.aboutMeLightModel
@{
}

<!Doctype html>
<html lang="en">
<head>
    <title>FilmInfo360</title>
    <meta charset="UTF-8">
    <meta name="description" content="About Me">
    <link rel="stylesheet" type="text/css" href="~/css/aboutMeStyleLight.css">
    <link rel="stylesheet" type="text/css" href="~/css/indexLightStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>


<body>
    <div class="header">
        <div class="headerImg">
            <img class="logoImg" src="res/pictures/logo.png" width="34px" height="34px">
        </div>
        <div class="headerText">
            <p id="headTextPart1">FilmInfo <span id="headTextPart2">360</span></p>
        </div>
        <div class="dropdown-navigation">
            <p id="navigationText">Navigation</p>
            <div class="dropdown-content">
                <a href="indexLight.html" id="dropdonwText">Main Page</a>
                <p></p>
                <a href="aboutMeLight.html" id="dropdonwText">About Me</a>
            </div>
        </div>


        <div class="search-container">
            <input type="text" id="search-input" placeholder="Search...">
        </div>

        <div class="themeClass">
            <img class="themeImg" src="res/pictures/themeIcon.png">
            <a href="aboutMeDark.html" id="themeText">Theme</a>
        </div>

        <div class="account">
            <p id="accountNameText">Test Account</p>
        </div>
    </div>



    <div class="containerAbout">
        <img id="avatar" src="res/pictures/myAvatar.jpg" alt="myPicture">
        <h2 id="name"><center>Vlad Levon</center></h2>
        <p id="bio-text">
            Hello! My name is Vlad and I am 15 years old. I am passionate about programming and actively learning C#, HTML, CSS and JavaScript. I enjoy creating websites and programs and I try to improve my skills in this area.


            In my spare time, I also do boxing and the gym. Sport helps me to maintain physical activity and balance in life.
        </p>

        <h3 id="skills">My Skills</h3>
        <ul>
            <li id="liBlock"><a id="skillsText" href="https://ru.wikipedia.org/wiki/C_Sharp">C#</a></li>
            <li id="liBlock"><a id="skillsText" href="https://uk.wikipedia.org/wiki/ASP.NET">Asp.Net</a></li>
            <li id="liBlock"><a id="skillsText" href="https://ru.wikipedia.org/wiki/HTML">Html</a></li>
            <li id="liBlock"><a id="skillsText" href="https://ru.wikipedia.org/wiki/CSS">CSS</a></li>
            <li id="liBlock"><a id="skillsText" href="https://ru.wikipedia.org/wiki/JavaScript">JavaScript</a></li>
        </ul>
        <h3 id="contactInfo1">Contact Information</h3>
        <p id="contactInfo2">Email: levvlad333@gmail.com</p>
        <p id="contactInfo2">GitHub: <a id="gitLink" href="https://github.com/spl1tone" target="_blank">github.com/spl1tone</a></p>
    </div>




    <script src="~/js/indexScript.js"></script>
</body>

</html>