@page
@model Filmography360.Views.Home.filmInfoLightModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>FilmInfo360</title>
    <meta charset="UTF-8">
    <meta name="description" content="Information about Film">
    <link rel="stylesheet" type="text/css" href="~/css/indexLightStyle.css">
    <link rel="stylesheet" type="text/css" href="~/css/filmInfoStyleLight.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="header">
        <div class="headerImg">
            <img class="logoImg" src="res/pictures/logo.png" width="34px" height="34px">
        </div>
        <div class="headerText">
            <p id="headTextPart1">FilmInfo <span id="headTextPart2">360</span></p>
        </div>
        <div class="dropdown-navigation">
            <p id="navigationText">Navigation</p>
            <div class="dropdown-content">
                <a href="indexLight.html" id="dropdonwText">Main Page</a>
                <p></p>
                <a href="aboutMeLight.html" id="dropdonwText">About Me</a>
            </div>
        </div>


        <div class="search-container">
            <input type="text" id="search-input" placeholder="Search...">
        </div>

        <div class="themeClass">
            <img class="themeImg" src="res/pictures/themeIcon.png">
            <a href="filmInfoDark.html" id="themeText">Theme</a>
        </div>

        <div class="account">
            <p id="accountNameText">Test Account</p>
        </div>
    </div>

    <div class="film-container">
        <h1 class="film-title">Film Name</h1>
        <div class="film-info">
            <img class="film-image" src="res/pictures/myAvatar.jpg">
            <div class="film-details">
                <button class="facts-button">Facts</button>
                <button class="reasons-button">ReasonsToLook</button>
                <button class="description-button">Description</button>
                <p class="film-facts hidden">
                    Film Facts
                </p>
                <p class="film-reasonstolook hidden">
                    Film ReasonsToLook
                </p>
                <p class="film-description hidden">
                    Film Description
                </p>
                <div class="film-texts">
                    <p class="film-text">Duration: <span class="spanClass">1 hour 20 minutes</span></p>
                    <p class="film-text">YearOfIssue: <span class="spanClass">01.01.2000</span></p>
                    <p class="film-text">WorldPremiere: <span class="spanClass">01.02.2000</span></p>
                    <p class="film-text">Age: <span class="spanClass">18+</span></p>
                    <p class="film-text">MPAA: <span class="spanClass">R</span></p>
                    <p class="film-text">Budget: <span class="spanClass">50 000 000 $</span></p>
                    <p class="film-text">Raiting: <span class="spanClass">10</span></p>
                </div>

            </div>
        </div>


        <div class="actors">
            <h2 class="actors-title">Actors</h2>
            <div class="actor">
                <a class="actor-link" href="actorInfoLight.html">
                    <img class="actor-image" src="res/pictures/myAvatar.jpg">
                    <p class="actor-name">Actor Name</p>
                </a>
            </div>
            <div class="actor">
                <a class="actor-link" href="actorInfoLight.html">
                    <img class="actor-image" src="res/pictures/myAvatar.jpg">
                    <p class="actor-name">Actor Name</p>
                </a>
            </div>
            <div class="actor">
                <a class="actor-link" href="actorInfoLight.html">
                    <img class="actor-image" src="res/pictures/myAvatar.jpg">
                    <p class="actor-name">Actor Name</p>
                </a>
            </div>
            <div class="actor">
                <a class="actor-link" href="actorInfoLight.html">
                    <img class="actor-image" src="res/pictures/myAvatar.jpg">
                    <p class="actor-name">Actor Name</p>
                </a>
            </div>
            <div class="actor">
                <a class="actor-link" href="actorInfoLight.html">
                    <img class="actor-image" src="res/pictures/myAvatar.jpg">
                    <p class="actor-name">Actor Name</p>
                </a>
            </div>
            <div class="actor">
                <a class="actor-link" href="actorInfoLight.html">
                    <img class="actor-image" src="res/pictures/myAvatar.jpg">
                    <p class="actor-name">Actor Name</p>
                </a>
            </div>
            <div class="actor">
                <a class="actor-link" href="actorInfoLight.html">
                    <img class="actor-image" src="res/pictures/myAvatar.jpg">
                    <p class="actor-name">Actor Name</p>
                </a>
            </div>
            <div class="actor">
                <a class="actor-link" href="actorInfoLight.html">
                    <img class="actor-image" src="res/pictures/myAvatar.jpg">
                    <p class="actor-name">Actor Name</p>
                </a>
            </div>
            <div class="actor">
                <a class="actor-link" href="actorInfoLight.html">
                    <img class="actor-image" src="res/pictures/myAvatar.jpg">
                    <p class="actor-name">Actor Name</p>
                </a>
            </div>
            <div class="actor">
                <a class="actor-link" href="actorInfoLight.html">
                    <img class="actor-image" src="res/pictures/myAvatar.jpg">
                    <p class="actor-name">Actor Name</p>
                </a>
            </div>
        </div>
    </div>


<script src="~/js/filmInfoScript.js"></script>
<script src="~/js/indexScript.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>