@page
@model Filmography360.Views.Home.indexDarkModel
@{
}
<!Doctype html>
<html lang="en">
<head>
    <title>FilmInfo360</title>
    <meta charset="UTF-8">
    <meta name="description" content="Extensive list of sites">
    <link id = "theme-link" rel="stylesheet" type="text/css" href="/css/indexDarkStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>
    <div class="header">
        <div class="headerImg">
            <img class="logoImg" src="/res/pictures/logo.png" width="34px" height="34px">
        </div>
        <div class="headerText">
            <p id="headTextPart1">FilmInfo <span id="headTextPart2">360</span></p>
        </div>
        <div class="dropdown-navigation">
            <p id="navigationText">Navigation</p>
            <div class="dropdown-content">
                <a href="/Home/indexDark" id="dropdonwText">Main Page</a>
                <p></p>
                <a href="/Home/aboutMeDark" id="dropdonwText">About Me</a>
            </div>
        </div>


        <div class="search-container">
            <input type="text" id="search-input" placeholder="Search...">
        </div>

        <div class="themeClass">
            <img class="themeImg" src="/res/pictures/themeIcon.png">
            <a href="/Home/indexDark" id="themeText">Theme</a>
        </div>

        <div class="account">
            <p id="accountNameText">Account</p>
        </div>
    </div>

    <div class="mainContainer">
        <p id="bestmoviesText">Best Movies</p>

        <div class="film">
            <a id="film-link" href="#">
                <img id="filmImage" src="https://0d314c86-f76b-45cc-874e-45816116a667.selcdn.net/4c765b8d-3181-4feb-b452-faca7a241319.jpg">
                <p id="film-name">FilmName</p>
            </a>
        </div>

        <div class="film">
            <a id="film-link" href="/Home/filmInfoDark">
                <img id="filmImage" src="https://0d314c86-f76b-45cc-874e-45816116a667.selcdn.net/4c765b8d-3181-4feb-b452-faca7a241319.jpg">
                <p id="film-name">FilmName</p>
            </a>
        </div>
        <div class="film">
            <a id="film-link" href="/Home/filmInfoDark">
                <img id="filmImage" src="https://0d314c86-f76b-45cc-874e-45816116a667.selcdn.net/4c765b8d-3181-4feb-b452-faca7a241319.jpg">
                <p id="film-name">FilmName</p>
            </a>
        </div>
        <div class="film">
            <a id="film-link" href="/Home/filmInfoDark">
                <img id="filmImage" src="https://0d314c86-f76b-45cc-874e-45816116a667.selcdn.net/4c765b8d-3181-4feb-b452-faca7a241319.jpg">
                <p id="film-name">FilmName</p>
            </a>
        </div>
        <div class="film">
            <a id="film-link" href="/Home/filmInfoDark">
                <img id="filmImage" src="https://0d314c86-f76b-45cc-874e-45816116a667.selcdn.net/4c765b8d-3181-4feb-b452-faca7a241319.jpg">
                <p id="film-name">FilmName</p>
            </a>
        </div>




        <div class="film">
            <a id="film-link" href="/Home/filmInfoDark">
                <img id="filmImage" src="https://0d314c86-f76b-45cc-874e-45816116a667.selcdn.net/4c765b8d-3181-4feb-b452-faca7a241319.jpg">
                <p id="film-name">FilmName</p>
            </a>
        </div>
        <div class="film">
            <a id="film-link" href="/Home/filmInfoDark">
                <img id="filmImage" src="https://0d314c86-f76b-45cc-874e-45816116a667.selcdn.net/4c765b8d-3181-4feb-b452-faca7a241319.jpg">
                <p id="film-name">FilmName</p>
            </a>
        </div>
        <div class="film">
            <a id="film-link" href="/Home/filmInfoDark">
                <img id="filmImage" src="https://0d314c86-f76b-45cc-874e-45816116a667.selcdn.net/4c765b8d-3181-4feb-b452-faca7a241319.jpg">
                <p id="film-name">FilmName</p>
            </a>
        </div>
        <div class="film">
            <a id="film-link" href="/Home/filmInfoDark">
                <img id="filmImage" src="https://0d314c86-f76b-45cc-874e-45816116a667.selcdn.net/4c765b8d-3181-4feb-b452-faca7a241319.jpg">
                <p id="film-name">FilmName</p>
            </a>
        </div>
        <div class="film">
            <a id="film-link" href="/Home/filmInfoDark">
                <img id="filmImage" src="https://0d314c86-f76b-45cc-874e-45816116a667.selcdn.net/4c765b8d-3181-4feb-b452-faca7a241319.jpg">
                <p id="film-name">FilmName</p>
            </a>
        </div>

        @for (var i = 0; i < Filmography360.FakerInfo.FakerInfo.FilmList.Count; i++) {
            var film = Filmography360.FakerInfo.FakerInfo.FilmList[i];
            <div class="film">
                <a id="film-link" href="/Home/filmInfoDark?name=@film.Name">
                    <img id="filmImage" src="@film.PictureUrl" width = "176px" height="264px">
                    <p id="film-name">@film.Name</p>
                </a>
            </div>
        }

    </div>


    <div class="sideContainer">
        <p id="categoryText">Sort</p>
        <div class="sort-buttons">
            <button id="sortById"><p id="buttons-text">By Id</p></button>
            <button id="sortByRating"><p id="buttons-text">By Rating</p></button>
            <button id="sortByAlphabet"><p id="buttons-text">Alphabetically</p></button>
            <button id="sortByActors"><p id="buttons-text">By Number Of Actors</p></button>
            <button id="sortByReleaseDate"><p id="buttons-text">By Release Date</p></button>
            <button id="sortRandom"><p id="buttons-text">Random</p></button>
        </div>

    </div>
    <script src="~/js/indexScript.js"></script>
</body>
</html>