@page
@model Filmography360.Views.Home.MainPageModel
@{
//    ViewData["Title"] = "Filmography360";
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <table class="table table-bordered">
                <tbody>
                    @for (var i = 0; i < Filmography360.FakerInfo.FakerInfo.FilmList.Count; i++)
                    {
                        if (i % 5 == 0)
                        {
                            if (i > 0)
                            {
                                @:</tr>
                            }
                            @:<tr>
                        }
                        var film = Filmography360.FakerInfo.FakerInfo.FilmList[i];
                        <td>
                            <div class="text-center d-flex align-items-center justify-content-center">
                                    <img src="@film.PictureUrl" alt="@film.Name" width="180" height="240">
                                    <h5>@film.Name</h5>
                            </div>
                        </td>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>