#name{
    font-size: 32px;
    margin-left: 20px;
    line-height: 1.5;
    color: black;
}

#liBlock{
    font-size: 18px;
    color: black;
    margin-left: 20px;
}

.containerAbout {
    width: 800px;
    margin-top: 20px;
    background-color: rgba(155, 155, 155, 0.4);
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 549px;
}

#skills{
    font-size: 22px;
    color: black;
    margin-left: 20px;
}

#bio-text {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: black;
}

#avatar{
    width: 400px;
    height: 500px;
    margin-left: 200px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

#contactInfo1{
    font-size: 22px;
    color: black;
    margin-left: 20px;
}

#contactInfo2{
    font-size: 18px;
    color: black;
    margin-left: 20px;
}

#gitLink{
    font-size: 18px;
    color: black;
    text-decoration: none;
}

#gitLink:hover{
    font-size: 20px;
    background-color: orange;
    text-decoration: none;
}

#skillsText{
    color: black;
    text-decoration: none;
    font-size: 18px;
}
#skillsText:hover{
    text-decoration: none;
    background-color: orange;
    font-size: 20px;
}