/*body{
    background-image: url(https://img1.akspic.ru/crops/8/6/1/0/5/150168/150168-temno_fioletovyj-graficeskij_dizajn-elektrik-purpur-purpurnyj_cvet-3840x2160.jpg);
    background-size: cover;
} 
*/
body{
    background-color: rgb(34, 34, 34) !important;
}

.header{
    min-width: 1897px;
    width: 100%;
    height: 50px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: black;
}

.headerImg{
    width: 34px;
    height: 34px;
    margin-top: 8px;
    margin-left: 10px;
    position: absolute
}
.headerText{
    width: 110px;
    height: 34px;
    margin-left: 54px;
    margin-top: 8px;
    position: absolute;
}

#headTextPart1{
    color : white;
    font-size: 20px;
}

#headTextPart2{
    color : yellow;
    font-size: 20px;
}

.dropdown-navigation{
    width: 100px;
    height: 34px;
    margin-left: 184px;
    margin-top: 8px;
    position: absolute;
}

#navigationText{
    color: white;
    font-size: 20px;
}

#navigationText:hover{
    background-color: gray;
}

.dropdown-content{
    width: 120px;
    height: 90px;
    position: absolute;
    background-color: black;
    margin-top: -4px;
    margin-left: -10px;
    text-align: center;
    display: none;
}

.dropdown-content.visible {
    background-color: black;
    display: block;
  }

#dropdonwText{
    color:white !important;
    font-size: 20px;
    text-decoration: none;
}

#dropdonwText:hover {
    background-color: gray;
}

.search-container {
    width: 1300px;
    height: 28px;
    margin-top: 11px;
    margin-left: 300px;
    position: absolute;
}
  
#search-input {
    border: none;
    width: 1300px;
    height: 28px;
    background-color: black;
    color: white;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 5px;
}

.themeClass{
    display: flex;
    width: 120px;
    height: 34px;
    margin-top: 8px;
    margin-left: 1620px;
    position: absolute;
    align-items: center;
}

.themeImg{
    width: 34px;
    height: 34px;
    opacity: 0.2;
}

#themeText{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
  
#themeText:hover{
    color: gray;
    text-decoration: none;
}

.account{
    min-width: 150px;
    width: auto;
    height: 34px;
    margin-top: 8px;
    margin-left: 1740px;
    position: absolute;
    align-items: center;
}

#accountNameText{
    color:white;
    font-size: 20px;
    padding-top: 2px;
}

.mainContainer{
    width: 1020px;
    height: fit-content;
    margin-left: 300px;
    position: absolute;
    border: 1px solid white;
    border-radius: 4px;
    background-color: rgb(75, 75, 75,0.4);

}

#bestmoviesText{
    color: white;
    font-size: 40px;
    padding-left: 17px;
}

.sideContainer{
    width: 280px;
    min-height: 340px;
    margin-left: 1320px;
    position: absolute;
    border: 1px solid white;
    border-radius: 4px;
    background-color: rgb(75, 75, 75,0.4);
}

#categoryText{
    color: white;
    font-size: 40px;
    padding-left: 10px;
}

.film{
    display: inline-block;
    margin-left: 20px;
    text-align: center;
    margin-top: 0px;
}

#film-link{
    text-decoration: none;
    color: white;
}

#film-link:hover #filmImage,
#film-link:hover #film-name {
    font-size: 22px;
    transition: font-size 0.2s;
    background-color: gray;
}

#filmImage{
    width: 176px;
    height: auto;
}


#film-name{
    color:white;
    font-size: 20px;
    text-decoration: none;
}

.sort-buttons{
    padding-left: 10px;
    width: fit-content;
    height: fit-content;
}

#buttons-text{
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
}

#sortById,
#sortByRating,
#sortByAlphabet,
#sortByActors,
#sortByReleaseDate,
#sortRandom{
    border: none;
    background-color: black;
    display: flex;
    margin-top: 10px;
}

#sortById:hover,
#sortByRating:hover,
#sortByAlphabet:hover,
#sortByActors:hover,
#sortByReleaseDate:hover,
#sortRandom:hover{
    border: none;
    background-color: gray;
    transition: font-size 0.2s;
}